@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&display=swap');


body{
	text-align: center;
	background-color: #3b83bd;
	color:#3b83bd;
	font-family: 'Playfair',  sans-serif;
	}
	

header{
	font-size: 26px;
	margin:20px;
	

}

h1{
	color:#f7f7f7;
	font-family: "Playfair", bold;
}
#form-body {
	background-color: #f9fdf9;
	width: 900px;
	margin: 0 auto;
	border-radius: 4px;
	width: 80%;
	max-width: 900px;
	padding: 10px;
	padding-top: 20px;
	
}

.labels {
	text-align: left;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-top: 10px;
	
}
.tab {
	display: inline-block;
	text-align: left;
	width: 50%;
	vertical-align: middle;
}

.input-field {
	height: 20px;
	width:300px;
	padding: 5px;
	margin:10px;
	border: 1px solid gray;
	border-radius: 2px;
	
}

#age {
	width: auto;
}

.rank, input(type="checkbox"){
	float: left;
	margin-right: 5px;
	background-color: initial;

}

.dropdown {
	height: 32px;
	width: 300px;
	padding: 5px;
	margin: 20px;
	margin-top: 15px;
	border:1px solid gray;
	border-radius: 2px;
	color:#b3b3b3;
	background-color: white;
	
}

radio, .checkbox {
	position: relative;
	display: block;
	
	
}

#like {
	height: 32px;
	width: 300px;
	padding: 5px;
	margin: 20px;
	border:1px solid gray;
    border-radius: 2px;
	color:#b3b3b3;
	background-color: white;
		
	
}

#submit {
	background-color: 3b83bd;
	border-radius: 4px;
	color: #f7f7f7;
	font-size: 1em;
	height: 45px;
	width: 100px;
}